:host {
    width: 100%;
    margin-bottom:10px;

    padding: 0 10px 0 10px;
    border-bottom: 1px solid #d2d2d2;
    display:block;
    font-size:12px;
    color:black;
    position: relative;

    box-sizing: border-box;
}

h1 {
    font-size:16px;
    font-family: 'Roboto Slab', 'Roboto', sans-serif;

    .domain {
        font-size:12px;
        color:#bdbdbd;
        font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

a {
    color: rgba(0, 0, 0, 0.78);
    text-decoration: none;
}