/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "compass/css3/transform";

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Regular-webfont.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: Roboto, sans-serif;
    font-size:16px;
    background: #eeeeee;
    overflow:hidden;
    margin:0;
    padding:0;
}

* {
    box-sizing: border-box;
}

.fabs {
    position: absolute;
    bottom:0;
    right:0;
    height: 210px;
    width: 100px;
    z-index: 100;

    .fab-add {
        position: absolute;
        right:10px;
        bottom:20px;
        z-index: 100;
    }

    .fab-edit-wrapper {
        position: absolute;
        z-index: 100;
        right: 19px;
        bottom: 94px;

        .fab-edit {
            background-color: #8BC34A;
            &.active {
                //ignore transitions
                opacity:1 !important;
                transform:translateZ(0) !important;
                background-color: #558B2F;
            }
        }
    }

    .fab-about-wrapper {
        position: absolute;
        z-index: 100;
        right: 19px;
        bottom: 151px;

        .fab-about {
            background-color: #2196F3;
        }
    }
}

.fab-anim-add {
    right: 10px;
    bottom: 20px;
}

.fab-anim-about {
    right: 19px;
    bottom: 151px;
    background-color: #2196F3;
    width:40px;
    height:40px;
}

.fab-edit {
    /deep/ core-icon {
        transition:transform 250ms;
    }

    &.active /deep/ core-icon {
        transform:rotate(360deg);
    }
}

#about /deep/ .back-toolbar {
    background-color: #2196F3;
}

html /deep/ {
    paper-button.primary {
        background: #4285f4;
        color: #fff;
    }
}

.ghost {
    background:#eee;
}

.column-holder {
    height:200px;
    width: calc(100% - 65px);
}

.grid-sizer {
    width: 25%;
    min-width: 320px;
}

.no-columns-container {
    display:flex;
    transition:500ms opacity;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;

    div {
        margin:auto;
        color: #757575;
        text-align: center;
        width: 554px;
        padding-top:140px;
        height: 355px;
        background-image:url('../img/chrome.png')
    }

}

#about {
    .about {
        h3 {
            font-weight: lighter;
            color: #424242;
            font-size: 22px;
            display: block;
            margin: 0;
            core-icon {
                margin-right: 10px;
            }
        }
        h4 {
            text-transform: uppercase;
        }
        p {
            text-transform: uppercase;
            color: #9E9E9E;
        }
        h5 {
            color: #9e9e9e;
            font-size: 14px;
            font-weight: lighter;
        }

        /* NO FLEX, ZONE! */
        paper-item /deep/ .button-content {
            display: block;
        }

        .luv {
            width: 14px;
        }
    }

    .disclaimer {
        h5 {
            margin-bottom: 0;
        }
        .logo {
            color: #9e9e9e;
            float: right;
            padding-left: 10px;
            padding-top: 13px;
            core-icon {
                width: 18px;
                position: relative;
                top: -2px;
            }
        }
    }
}

.settings {
    position: absolute;
    right:0;
    top:0;
    z-index:104;
    transition: background 500ms, width 300ms, box-shadow 500ms;
    border-bottom-left-radius: 3px;
    padding:5px 9px;
    width: 107px;
    height: 55px;
    overflow: hidden;

    &.force {
        width:400px;
    }

    &:hover, &.force {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        background: #fff;

        .app-drawer-button, .bookmarks-drawer-button {
            opacity:1;
            -webkit-animation: enter 500ms;
        }

        .more {
            opacity:0;
        }
    }

    /deep/ core-icon {
        color: #424242;
        width:28px;
        height:28px;
    }

    .app-drawer-button, .bookmarks-drawer-button {
        transition:opacity 500ms;
        opacity:0;
        float:right;
        -webkit-animation: leave 500ms;
    }

    .more {
        position: absolute;
        right:12px;
        top:5px;
        transition-delay: 250ms;
        transition: opacity 250ms ;
        opacity:1;
    }
}

@-webkit-keyframes enter {
    0% {
        transform: translateX(24px) rotate(180deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
 }

@-webkit-keyframes leave {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    100% {
        transform: translateX(24px) rotate(180deg);
    }
}

paper-tabs.blue::shadow #selectionBar {
    background-color: #3F51B5;
}

paper-tabs.blue paper-tab::shadow #ink {
    color: #3F51B5;
}

app-drawer.bookmarks {
    core-animated-pages {
        height:calc(100% - 48px);
        div {
            height:100%;
            width:100%;
            overflow-y:auto;
        }
    }
}