/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transform";

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: Roboto, sans-serif;
    font-size:14px;
    background: #eeeeee;
    overflow:hidden;
}

* {
    box-sizing: border-box;
}

.loader {
    margin: 0 auto;
    display: block;
    width: 70px;
    height: 70px;

    top:50%;
    @include translateY(-50%);
    position: relative;
}

#addcolumn {
    position: absolute;
    right:20px;
    bottom:20px;
    z-index: 100;
}

html /deep/ {
    #column_chooser {
        width:565px; height:500px;
    }

    paper-button.primary {
        background: #4285f4;
        color: #fff;
    }
}


#reddit_dialog {
    width:400px;
    height:300px;
}

.ghost {
    background:#eee;
}

.column-holder {
    height:200px;
}

.grid-sizer { width: 25%; }